In [2]:
import pandas

In [7]:
data = pandas.read_csv("result.txt", sep="\t", header=None)
data

                  0      1
0                 A  13469
1                AA     15
2               AAA      3
3              AAAA      2
4            AAAAAA      1
...             ...    ...
128297        zzzzz      2
128298       zzzzzz      1
128299      zzzzzzz      4
128300     zzzzzzzz      1
128301  zzzzzzzzzzz      2

[128302 rows x 2 columns]

In [12]:
data.sort_values(by=[1], ascending=False).head(30)

            0       1
120912    the  583362
67688     and  315446
65873       a  314571
103008     of  290117
121578     to  268109
94861      is  212290
72003      br  204750
93056      in  176666
27665       I  160310
94904      it  154496
120900   that  139757
112496      s  130109
121115   this  120960
126341    was   95249
58858     The   91449
127298   with   87129
100999  movie   86801
68621      as   86366
87045     for   84767
86148    film   79896
72855     but   69778
119960      t   67497
103212     on   65309
128057    you   62535
68400     are   59186
91354     his   55729
90646    have   55363
102480    not   54925
70143      be   54117
103222    one   49685